#header-region {
  height: $header-height;
  background-color: $white-color;
  z-index: 100;
  @include single-box-shadow;
}

#fake-header {
  height: $header-height;
  visibility: hidden;
}

header {
  @include width-min;
  padding: $padding-size;
}

.header-logo {
  cursor: pointer;
  vertical-align: middle;
}

.header-button {
  border: 1px solid $dark-gray-color;
  border-top-width: 0;
  border-bottom-width: 0;
  height: $header-height - 2 * $padding-size;
  margin-right: -1px;
  margin-top: $padding-size;
  text-align: center;
  padding-top: $padding-size;
  cursor: pointer;
}

.header-link {
  margin: 0 0 0 8px;
  font-size: 22px;
  vertical-align: middle;

  .accent {
    font-family: Hero, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

@media (min-width: 768px) {
  #header-region {
    height: $header-height;
  }
  
  #fake-header {
    height: $header-height;
  }
  
  .header-button {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
  }

  .header-link {
    margin: 0 0 0 $margin-size;
    font-size: 26px;
  }
}

#page.devise {
  #header-region {
    height: $header-height
  }
  
  #fake-header {
    height: $header-height;
  }
}
