#footer-region {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $marbles-green-color;
  color: $white-text-color;
  
  h4 {
    @include hover-link();
    cursor: pointer;
  }

  a {
    color: $white-text-color;
  }
}

footer {
  @include width-min;
  padding: $padding-size;
}