#footer-region {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  background-color: $dark-gray-color;
  color: $white-text-color;
  z-index: 5;
  @include single-box-shadow;
  
  h4 {
    @include hover-link();
    cursor: pointer;
  }

  a {
    color: $white-text-color;
  }
}

#fake-footer {
  visibility: hidden;
}

#footer {
  @include width-min;
  padding: $padding-size;
}