<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Mission</h4>
        sharing opportunities for health and wellness
      </div>
      <div class="col-md-3">
        <h4>Blog</h4>
        understand more about the marbles team
      </div>
      <div class="col-md-3">
        <h4>Help</h4>
        answers to FAQs
      </div>
      <div class="col-md-3">
        <h4>Contact</h4>
        we would love to hear from you<br/>
        pease reach out with comments, questions and suggestions
      </div>
    </div>
  </div>
</footer>

