#poll-carousel {
  & > .row {
    padding-bottom: 60px;
  }

  .carousel-inner {
    margin-bottom: 10px;

    .answer {
      padding: 0 10px;
      margin: 20px 0;
    }

    .slider-horizontal {
      width: 100%;
    }
  }

  .carousel-indicators {
    bottom: 10px;

    li {
      border-color: $dark-text-color;
    }

    .active {
      background-color: $dark-text-color;
    }
  }
}