@import 'defs';

html, body, #page {
  height: 100%;
}

body {
  background-color: $primary-color;
  color: $dark-text-color;
}

#page {
  @include width-min;
  background-color: $primary-color;
  position: relative;
}

#header-region {
  height: $header-height * 2;
  background-color: $white-color;
}

#fake-header {
  height: $header-height * 2;
  visibility: hidden;
}

#main-region {
  padding: $padding-size;
}

#footer-region {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $marbles-green-color;
  color: $white-text-color;
}

header, footer {
  @include width-min;
  padding: $padding-size;
}

.header-button {
  border: 1px solid $dark-gray-color;
  border-top-width: 0;
  border-bottom-width: 0;
  height: $header-height - 2 * $padding-size;
  margin-right: -1px;
  margin-top: $padding-size;
  text-align: center;
  padding-top: $padding-size;
}

@media (min-width: 768px) {
  
  #header-region {
    height: $header-height;
  }
  
  #fake-header {
    height: $header-height;
  }
  
  .header-button {
    margin-top: 0;
    padding-top: 0;
    text-align: left;
  }
}

.fixed {
  @include border-box;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.accent {
  color: $accent-color;
}

.huge-text {
  font-size: $huge-text-size;
}

section {
  @include border-box();
  padding-top: $padding-size;
  padding-bottom: $padding-size;
}






