@import 'defs';

body {
  background-color: $primary-color;
  color: $dark-text-color;
}

#page {
  padding-bottom: $footer-height;
  background-color: $primary-color;
}

header {
  position: relative;
  background-color: $white-color;
}

header, footer {
  z-index: 10;
  padding: $padding-size;
}

.fixed {
  @include border-box;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

header.fixed {
  height: $header-height;
  z-index: 5;
}

div.fixed {
  z-index: 15;
}

footer {
  @include border-box();
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $marbles-green-color;
  color: $white-text-color;
}

#main-region {
  margin-top: $header-height;
  padding: $padding-size;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.accent {
  color: $accent-color;
}

.header-button {
  border: 1px solid $dark-gray-color;
  border-top-width: 0;
  border-bottom-width: 0;
  height: $header-height - 2 * $padding-size;
  margin-right: -1px;
}

.huge-text {
  font-size: $huge-text-size;
}

section {
  @include border-box();
  padding-top: $padding-size;
  padding-bottom: $padding-size;
}






