$darkest-gray-color: #333;
$dark-gray-color: #5c5c5c;
$medium-gray-color: #999;
$light-gray-color: #e5e5e5;
$marbles-orange-color: #fc6523;
$marbles-green-color: #006600;
$white-color: #fff;

$primary-color: $light-gray-color;
$accent-color: $marbles-orange-color;
$white-text-color: $white-color;
$light-text-color: $medium-gray-color;
$dark-text-color: $darkest-gray-color;

$min-width: 360px;
$padding-size: 10px;
$footer-height: 120px;
$header-height: 80px;
$huge-text-size: 25px;
$small-text-size: 12px;
$tiny-text-size: 8px;

@mixin border-box() {
  @include box-sizing(border-box);
}

@mixin width-min() {
  min-width: $min-width;
}
