.modal-dialog {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform:  translate(-50%, -50%) !important;
  -ms-transform:  translate(-50%, -50%) !important;
  -webkit-transform:  translate(-50%, -50%) !important;
  margin: 0;
  min-width: 280px;
}
